.profile-top
{
    margin: 5vh auto;
    width: 80vw;
    padding: 6vh 6vw;
    background-color: white;
    border: 1px solid #dad8d4;
    border-radius: 10px;
}

.about-row
{
    margin: 0 0 15px 0;
    color: rgb(104, 102, 102);
    font-size: 12px;
}