.site-card-border-less-wrapper {
    padding: 30px;    
}

.ant-table-wrapper
{    
    margin: auto;
}

.ant-progress-inner
{
    font-size: 14px !important;
}

.tabs
{
    width: 85%;
    margin: auto;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}

.ant-picker-calendar{
    padding: 20px;
}

p{
    color: black !important;
    font-size: 10px;
}

/* .ant-table-row-level-0
{
    
} */

