/* .site-card-border-less-wrapper {
    padding: 30px;    
} */

.ant-table-wrapper
{    
    margin: auto;
}

.ant-progress-inner
{
    font-size: 14px !important;
}

.tabs
{
    width: 85%;
    margin: 5vh auto;
    padding: 15px;
    background: white;
    border: 1px solid #dad8d4;
    border-radius: 10px;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}

.ant-picker-calendar{
    padding: 20px;
}
/* 
p{
    color: black !important;    
} */

/* .ant-table-row-level-0
{
    
} */


.ant-tabs-content-holder {

    padding: 25px;
    border-radius: 10px;
}